<div class="d-flex align-items-center h-100 px-3">
  <form role="form" (submit)="onSubmit()" [formGroup]="form" class="d-block w-100 px-4">
    <div
      class="form-group mb-3" [ngClass]="{ focused: focus === true }">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
        </div>
        <input
          class="form-control"
          placeholder="Email"
          type="email"
          (focus)="focus = true"
          (blur)="focus = false"
          formControlName="email"
        />
      </div>
    </div>
    <div class="form-group mb-3" [ngClass]="{ focused: focus1 === true }">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
        </div>
        <input
          class="form-control"
          placeholder="Password"
          type="password"
          (focus)="focus1 = true"
          (blur)="focus1 = false"
          formControlName="password"
        />
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary my-4 px-4">
        Sign in
      </button>
    </div>
    <div class="w-100">
        <a href="#"><small>{{ translations['AUTH.FORGOT_PASSWORD'] }}</small></a>
    </div>
  </form>
</div>
  