<div class="container-fluid">
  <div class="form-cajas">

    <jc-error-summary [form]="form"></jc-error-summary>

      <form [formGroup]="form">
          <div class="card-full">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.CODE' | translate}}</label>
                      <input readonly 
                             formControlName="key" 
                             type="number" 
                             class="form-control">
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.NAME' | translate}}</label>
                      <input formControlName="name" 
                             type="text" 
                             id="uppercase" 
                             maxlength="40"
                             class="form-control">
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.NUMDOC' | translate}}</label>
                      <input formControlName="numDoc" 
                             type="number" 
                             maxlength="10"
                             class="form-control" >
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.DVER' | translate}}</label>
                      <input readonly 
                             formControlName="dVer" 
                             type="number" 
                             maxlength="1"
                             class="form-control">
                    </div>
                  </div>
                  
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.ADDRESS' | translate}}</label>
                      <input formControlName="address" 
                             type="text" 
                             maxlength="30"
                             class="form-control">
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.TEL' | translate}}</label>
                      <input formControlName="tel1" 
                             type="number"
                             maxlength="10" 
                             class="form-control">
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.TELDOS' | translate}}</label>
                      <input formControlName="tel2" 
                             type="number"
                             maxlength="10" 
                             class="form-control">
                    </div>
                  </div>
                  
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.CONTAC' | translate}}</label>
                      <input formControlName="contac" 
                             type="text"
                             maxlength="30" 
                             class="form-control">
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.FAX' | translate}}</label>
                      <input formControlName="fax" 
                             type="number"
                             maxlength="10" 
                             class="form-control">
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.TOTAL' | translate}}</label>
                      <input readonly 
                             formControlName="total" 
                             type="number" 
                             class="form-control">
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="" class="form-control-label">{{'GENERALS.CAJAS.CODSUPER' | translate}}</label>
                      <input formControlName="codSuper" 
                             type="text"
                             maxlength="6" 
                             class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <button type="submit" (click)="saveChanges()" class="btn btn-icon btn-primary">
                      <span class="btn-inner--icon">
                          <i class="las la-plus-circle"></i>
                      </span>
                      {{ 'BUTTONS.SAVE' | translate}}
                    </button>
              </div>
          </div>
      </form>
      <br>
  </div>
</div>