.bg-content{
    background: url("assets/img/theme/stacked-wave-bg.svg") no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 250px;
    position: fixed;
    z-index: -999;
    bottom: 0;
}

.main-content {
    padding-bottom: 70px;
}