:host .footer {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 50%;
    background-color: transparent;
    bottom: 0;
    transform: translate(-50%, 0);


    .copyright {
        border-radius: 10px 10px 0px 0px;
        background-color: rgba(0, 0, 0, .3);
        width: 200px;
        padding: 5px;

        a {
            color: white;
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }
    }
}

